<!DOCTYPE HTML>
<!--
	Visualize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>나의 홈페이지</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<span class="avatar"><img src="images/짱구.png" alt="" /></span>
						<h1><strong>짱구</strong>의 블로그</h1>
						<ul class="icons">
							<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon style2 fa-500px"><span class="label">500px</span></a></li>
							<li><a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
					</header>

				<!-- Main -->
					<section id="main">

						<!-- Thumbnails -->
							<section class="thumbnails">
								<div>
									<a href="images/chocolate.jpg">
										<img src="images/chocolate.jpg" alt="" />
										<h3>초콜릿</h3>
									</a>
									<a href="images/crab.jpg">
										<img src="images/crab.jpg" alt="" />
										<h3>게다리</h3>
									</a>
								</div>
								<div>
									<a href="images/donut.gif">
										<img src="images/donut.gif" alt="" />
										<h3>도너츠와 햄버거</h3>
									</a>
									<a href="images/icecream.jpg">
										<img src="images/icecream.jpg" alt="" />
										<h3>아이스크림</h3>
									</a>
									<a href="images/oksusu.jpg">
										<img src="images/oksusu.jpg" alt="" />
										<h3>옥수수</h3>
									</a>
								</div>
								<div>
									<a href="images/pudding.jpg">
										<img src="images/pudding.jpg" alt="" />
										<h3>푸딩</h3>
									</a>
									<a href="images/pizza.jpg">
										<img src="images/pizza.jpg" alt="" />
										<h3>피자</h3>
									</a>
								</div>
							</section>

					</section>

				<!-- Footer -->
					<footer id="footer">
						<p>&copy; Untitled. All rights reserved. Design: <a href="http://templated.co">TEMPLATED</a>. Demo Images: <a href="http://unsplash.com">Unsplash</a>.</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.poptrox.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/main.js"></script>

	</body>
</html>